body {
    font-family: georgia, times, serif;
}
dl {
    margin: 2em 0;
    padding: 0;
}

dt {
    position: relative;
    left: 0;
    top: 1.1em;
    width: 20em;
    font-weight: bold;
}

.ddgroup dd {
    border-left: 1px solid #000;
    margin: 0 0 0 20em;
    padding: 0 0 .5em .5em;
}


.icon-ok {
    border: solid 1px #90ac13;
    background: #eef4d3;
    color: #6b800d;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    min-height: 42px;
    padding-left: 1em;
    line-height: 42px;
    vertical-align: middle;
    margin-bottom: .5em;
}

.icon-ok .close-button {
    float: right;
    padding: 3px;
    line-height: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 1.4em;
    cursor: pointer;
}

.icon-ok .close-button:hover {
    background-color: rgba(255, 186, 186, 0.38);
}

.button-link {
               background:rgba(240,240,240,1);
               -moz-border-radius: 5px;
               -webkit-border-radius: 5px;
               border-radius: 5px;
               -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
               -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
               box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
               color: rgba(0,0,0,0.9);
               -webkit-text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
               text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
               border: 1px solid rgba(0,0,0,0.5);
               /*top,right,bottom,left */
               padding: 5px 5px 5px 5px;
               margin-right:10px;
               font-weight: bold;
               font-size:16px;
               font-family: georgia, times, serif;
}

.button-link:hover {
               background:rgba(190,190,190,1);
}

.button-link:active, .button-link:focus {
               background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
               background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}

               .button-link:disabled {
                               color: rgba(0,0,0,0.4);
                               -webkit-text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
                               text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
                               background: rgba(220,220,220,1);
               }
/*Removes line from underneath link*/
               a.button-link {
               text-decoration: none;

}

.paper {
    border-left: 1px solid #000;
    margin: 0 0 .5em 21em;
    padding: .5em;
    width: 300px;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -webkit-border-top-left-radius: 60px 5px;
    -webkit-border-top-right-radius: 60px 5px;
    -webkit-border-bottom-right-radius: 60px 5px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

footer {
            background-color: #333;
            width: 100%;
            bottom: 0;
            position: fixed;
            padding:2px;
            margin: 0;
        }
