<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="WP12_nr222cb_TheHideOutConnectionString"
         connectionString="Data Source=172.16.214.1;Initial Catalog=WP12_nr222cb_TheHideOut;User ID=appUser;Password=&quot;1Br@Lösen=rd?&quot;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="~/servererror" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
